[master]
{{ hostvars[inventory_hostname]['ansible_hostname']  }}  ansible_host={{ hostvars[inventory_hostname]['ansible_all_ipv4_addresses'][0] }}  ansible_connection=local

[slaves]
{% for host in newnodes.results %}
{{ host['server']['name'] }} ansible_host={{ host['server']['private_v4'] }} ansible_connection=ssh  ansible_ssh_user=ubuntu   ansible_ssh_private_key_file=~/.ssh/{{ key_name }}
{% endfor %}

[slaves-manual]
{{ hostvars[inventory_hostname]['ansible_hostname']  }}  ansible_host={{ hostvars[inventory_hostname]['ansible_all_ipv4_addresses'][0] }}  ansible_connection=local
{% for host in newnodes.results %}
{{ host['server']['name'] }} ansible_host={{ host['server']['private_v4'] }} ansible_connection=ssh  ansible_ssh_user=ubuntu   ansible_ssh_private_key_file=~/.ssh/{{ key_name }}
{% endfor %}



[master:vars]
nodesfile=nodes.prod

[slaves:vars]
nodesfile=nodes.prod

[slaves-manual:vars]
nodesfile=nodes.prod
